/* Custom color theme properties */
:root {
  --f7-theme-color: #34abeb;
  --f7-theme-color-rgb: 52, 171, 235;
  --f7-theme-color-shade: #1699e0;
  --f7-theme-color-tint: #59baef;
}

/* Your app custom styles here */